@(version: String, transition: play.api.libs.json.JsValue)

@import play.api.libs.json._
@import play.api._


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/embed.css?v=@{version}" />
</head>
<body>
  <div id="embed">
    <div class="vignette" id="renderContainer">
      <canvas id="render"></canvas>
      <div class="overlay" id="renderOverlay">
        <span class="cursor"></span>
      </div>
    </div>
  </div>
  
  <script>
  var transition = @Html(transition.toString());
  </script>
  <script src="/assets/embed.js?v=@{version}"></script>

  @if(Play.current.mode == Mode.Dev) {
  <script src="//localhost:35735/livereload.js"></script>
  }

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51124142-1', 'glsl.io');
  ga('send', 'pageview');
  </script>
</body>
</html>
