@(version: String, rootGist: String, userName: Option[String])

@import play.api._

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GLSL.io – Open Collection of GLSL Transitions</title>
  <meta name="description" content="The GLSL.io initiative aims to build an Open Collection of GLSL Transitions. It aims to be highly community-driven and free-software." />
  <meta name="keywords" content="WebGL,GLSL,Transitions,JavaScript" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="GLSL.io">
  <meta name="twitter:title" content="GLSL.io, an Open Collection of GLSL Transitions.">
  <meta name="twitter:description" content="The GLSL.io initiative aims to build an Open Collection of GLSL Transitions. It aims to be highly community-driven and free-software.">
  <meta name="twitter:creator" content="@@glslio">

  <link rel="stylesheet" href="/assets/bundle.css?v=@{version}" />
  <link rel="stylesheet" href="/assets/vendors/font-awesome-4.1.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/vendors/highlight.js/solarized_dark.css" />
  <link href='/assets/vendors/font-nunito/nunito.css' rel='stylesheet' type='text/css'>
</head>
<body class="loading">
  <div id="wrapper">
    <header id="header">
      <h1>
        <a href="/" class="logo" id="logo">
          <span>GLSL</span><span>.io</span>
        </a>
      </h1>
      <nav>
        <a class="home" href="/">About</a>
        <a class="gallery" id="go-to-gallery" href="/gallery">Gallery</a>
        <a class="editor" id="go-to-root-gist" href="/transition/new">Editor</a>
      </nav>
      @userName.map { name =>
      <span class="github">
        <a class="logout" href="/logout">logout</a>
        -
        <a class="profile" target="_blank" href="https://gist.github.com/@name">
          <i class="fa fa-github"></i>
          @name
        </a>
      </span>
      }.getOrElse {
        <a class="github connect" href="/authenticate">
          Connect with <i class="fa fa-github"></i> Github
        </a>
      }
    </header>
    <header id="toolbar" hidden></header>
    <div id="main">
      <div id="loading">
        <h2>
          <i class="fa fa-cog fa-spin"></i>
          <span class="logo">
            <span>GLSL</span><span>.io</span>
          </span>
        </h2>
        <p style="opacity: 0.5; font-size: 0.8em; font-style: italic">
          an open collection of GLSL Transitions.
        </p>
      </div>

      <div id="screen"></div>
    </div>
    <footer id="footer" hidden>
      GLSL.io
      -
      v@{version}
      -
      <a href="https://twitter.com/glslio">@@glslio</a>
      -
      <a href="mailto:contact@@glsl.io">contact@@glsl.io</a>
      -
      <a href="https://github.com/glslio/glsl.io/issues/new">Found a bug?</a>
    </footer>
  </div>
  <script src="/assets/vendors/ace/ace.js"></script>
  <script src="/assets/vendors/ace/mode-glsl.js"></script>
  <script>
  window.ROOT_GIST = "@rootGist";
  window.CONNECTED_USER = @{userName.map(name => Html(s""""$name"""")).getOrElse("null")};
  </script>
  <script src="/assets/bundle.js?v=@{version}"></script>

  @if(Play.current.mode == Mode.Dev) {
  <script src="//localhost:35735/livereload.js"></script>
  }

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51124142-1', 'glsl.io');
  ga('send', 'pageview');
  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
