.user-screen {
  .notransitions {
    text-align: center;
    font-size: 1.4em;
    padding: 1em;
    color: #ccc;
    font-style: italic;
  }
  .toolbar {
    line-height: 40px;
    height: 40px;

    img {
      margin-left: -10px;
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
    h2 {
      vertical-align: top;
      line-height: inherit;
      padding: 0;
      margin: 0;
      display: inline-block;
    }
  }

  .invalids {
    color: #C88;
  }
}
