#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  &.visible {
    display: block;
  }
  background: #000;
  opacity: 0.3;

  z-index: 50;
}
.over-overlay {
  z-index: 51;
}
.with-overlay {
  z-index: 52;
  display: none;
}
.overlayed .with-overlay {
  display: block;
}
