.screen-error {
  .error-title {
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
  }
  .error-msg {
    text-align: center;
    font-family: monospace;
    font-size: 1.4em;
    margin-bottom: 50px;
  }
  .error-btns {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 50px;
    a {
      color: #fc6;
    }
  }
}
