html {
  font-family: Nunito, sans-serif;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: #333;
  color: #fff;

  min-width: 860px;
}

* {
  user-select: none;
}

a {
  color: #ccc;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

#loading {
  text-align: center;
  margin: 50px;
  height: 300px;
  font-size: 2em;
}

@import ui
@import screens
