.screen-about {
  background: #eee;
  color: #222;
  padding: 10px 0;
  
  article {
    width: 853px;
    margin: 0px auto;
    .hljs {
      background: #fff;
    }
    pre {
      overflow: scroll;
    }
    h2 {
      margin-left: -20px;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #ccc;
    }
    blockquote {
      color: #999;
      border-left: 3px solid #CCC;
      margin-left: 0;
      padding-left: 10px;
    }
    a {
      color: #28E;
      &:hover {
        color: #39F;
        text-decoration: underline;
      }
    }
  }
}
