.screen-error {
  text-align: center;
  padding-bottom: 50px;

  .error-title {
    font-size: 2.0em;
    font-weight: bold;
  }
  .error-msg {
    font-family: monospace;
    font-size: 1.4em;
  }
  .error-btns {
    font-size: 1.2em;
    margin-bottom: 50px;
    a {
      color: #fc6;
    }
  }
  .error-report {
    a {
      color: #f66;
    }
  }
}
