.transitions-browser {

  .previews {
    min-height: 40px;
    padding-top: 10px;
    margin: 0 auto;
  }

  .vignette {
    display: inline-block;
    margin: 0px 5px 5px 5px;
    width: 300px;
    height: 200px;
    border-color: #000;
    border-radius: 2px;
    cursor: pointer;
  }

  canvas {
    border-radius: 2px;
  }
  .overlay {
    border-radius: 2px;
    overflow: hidden;
  }
}
