.vignette-config {
  dl {
    margin: 5px 0;
    padding: 0 5px;
    dt {
      vertical-align: top;
      display: inline-block;
      width: 50%;
      margin: 0;
    }
    dd {
      display: inline-block;
      width: 50%;
      margin: 0;
    }
    input {
      width: 100%;
    }
  }
  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  .extra {
    margin-top: 10px;
    font-weight: 300;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
  }
  .bezier-editor {
    float: right;
  }
}
