
.fps {
  color: #9f9;
  &.dec-0, &.dec-1 {
    color: #f99;
  }
  &.dec-2, &.dec-3 {
    color: #ff6;
  }
  &.none {
    color: #999;
  }
  .count {
    
  }
  .count:after {
    content: "FPS";
    font-size: 0.5em;
  }
}
