@import TexturePicker

input.uniform-component-input {
  width: 100%;
  border: none;
  padding: 0px 5px;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 0.8em;
  font-weight: bold;

  &[type=range] {
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.5), 0px 2px 1px rgba(255,255,255,0.2);
    margin: 8px 0;
    border-radius: 6px;
    height: 20px;
    opacity: 0.9;
  }
  &[type="range"]:hover {
    opacity: 1;
  }

  &[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0px 2px 6px #FFF;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.48, #DDD), color-stop(0.5, #AAA), color-stop(0.52, #DDD));
    border: 1px solid #AAA;
    border-radius: 3px;
    width: 40px;
    height: 26px;
  }

  &[type="range"]:hover::-webkit-slider-thumb {
  }
}
