
.save-button .status-message {
  background-color: transparent
  &.error, &.warn, &.success, &.info {
    background-color: transparent
  }

  color: #999;
  &.error {
    color: #C63;
  }
  &.warn {
    color: #A63;
  }
  &.success {
    color: #3C6;
  }
  &.info {
    color: #666;
  }
}

