.home-screen {
  margin: 5px 10px;
  text-align: center;
  .vignette {
    display: inline-block;
  }
  h2 {
    .logo {
      font-weight: bold;
    }
    font-weight: normal;
  }
  p {
    font-weight: 300;
  }
}
