.home-screen {
  font-weight: 300;
  width: 520px;
  margin: 0 auto;
  padding: 5px 0px;
  .vignette {
    display: inline-block;
  }
  .fps {
    display: inline-block;
    background: #000;
    border-radius: 2px;
    padding: 0 4px;
  }
  .logo {
    font-weight: bold;
    span:first-child {
      color: #000;
    }
    span:last-child {
      color: #000;
      /*color: #da0;*/
    }
  }
  .duration {
    span.value {
      float: right;
      font-family: monospace;
    }
    input {
      width: 100%;
      display: block;
    }
  }
  h2 {
    .logo {
      font-weight: bold;
    }
    font-weight: normal;
  }
  h3 {
    font-size: 2em;
    line-height: 2em;
  }
  h2, h3 {
    clear: both;
  }
  dl {
    width: 512px;
    padding: 6px;
    margin: 10px 0;
    float: left;
    dt {
      font-weight: bold;
    }
    dd {
      margin: 4px 0;
    }
  }
}
