.home-screen {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 20px;
  
  .vignette {
    display: inline-block;
  }
  .fps {
    display: inline-block;
    background: #000;
    border-radius: 2px;
    padding: 0 4px;
  }
  .logo {
    font-weight: bold;
    span:first-child {
      color: #000;
    }
    span:last-child {
      color: #000;
      /*color: #da0;*/
    }
  }
  .slider {
    span.value {
      float: right;
      font-family: monospace;
    }
    input {
      width: 100%;
      display: block;
    }
  }
  h2 {
    .logo {
      font-weight: bold;
    }
    font-weight: normal;
  }
  h3 {
    font-size: 2em;
    line-height: 2em;
  }
  h2, h3 {
    clear: both;
  }
  div.visual {
    vertical-align: top;
    display: inline-block;
    width: 520px;
    margin: 0 auto;
    padding: 5px 0px;
  }
  div.page {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 512px;
    padding: 10px 0 10px 40px;
    nav {
      text-align: center;
      font-size: 30px;
      padding: 20px 0;
      a {
        padding: 0px 8px;
        border-radius: 4px;
        &:first-child {
          margin-left: 0;
        }
        color: #aaa;
        &:hover {
          color: #666;
        }
        &.current {
          color: #ea5;
        }
      }
    }
    .content {
      min-height: 300px;
      h2 {
        font-weight: bold;
        font-size: 1.6em;
        margin: 0 0 0.2em 0;
        padding: 0;
      }
      h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin: 0.2em 0;
        padding: 0;
      }
      div.highlight {
        margin: 1em 0;
        font-weight: bold;
      }
      blockquote {
        margin-top: 50px;
        color: #ea5;
        font-size: 1.2em;
        a {
          color: mix(#ea5, #888, 50%);
        }
        cite {
          display: block;
        }
      }
      .download {
        font-weight: bold;
        text-decoration: none;
      }
      .randomize {
        text-align: center;
        font-size: 1.6em;
        font-weight: normal;
        margin: 10px 0;
        a {
          text-decoration: none;
          padding: 10px;
        }
      }
      .contributors {
        a {
          text-decoration: none;
          &:hover {
            color: #222;
          }
        }
        a:after {
          &:hover {
            color: inherit;
          }
          content: ", ";
        }
        a:last-child:after {
          content: "";
        }
      }
    }
    .pager {
      margin-top: 40px;
    }
  }
}
