.feedback {
  position: fixed;
  right: 0;
  top: 50%;
  width: 120px;
  right: -48px;
  text-align: center;
  padding: 3px 6px;
  line-height: 20px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;

  background: #000;
  color: #fff;
  border-radius: 0 0 6px 6px;
  transform: rotate(90deg);

  border: 2px solid transparent;
  opacity: 0.7;
  &:hover {
    border-color: #fff;
    opacity: 1;
  }
}
