
.transition-actions {
  margin-left: 70px;
}

.action:not(.active) .if-active {
  display: none;
}

.action.active .if-not-active {
  display: none;
}

.save-state.status {
  background-color: transparent
  &.error, &.warn, &.success, &.info {
    background-color: transparent
  }

  color: #999;
  &.error {
    color: #C63;
  }
  &.warn {
    color: #A63;
  }
  &.success {
    color: #3C6;
  }
  &.info {
    color: #666;
  }
}

#toolbar {
  position: relative;
  .gist-license {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    overflow: hidden;
    font-size: 0.6em;
    a {
      color: #aaa;
      &:hover {
        color: #ccc;
      }
    }
  }
  .gist-infos {
    min-width: 300px;
    text-align: right;
    float: right;
    .transition-name {
      color: #aaa;
      &:hover {
        color: #ddd;
      }
    }
  }
}

#editor-wrapper {
  position: relative;
}

#view {
  width: 256px;
  position: absolute;
  left: 80px;
  top: 0;
}

#editorContainer {
  position: absolute;
  left: 336px;
  top: 0;
}

#editor {
  width: 100%;
  height: 400px;
}

#status {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 1em;
  box-sizing: border-box;
  overflow: auto;
  white-space: nowrap;
}
.status.error {
  background-color: #C63;
  color: #FFF;
}
.status.warn {
  background-color: #A63;
  color: #FFF;
}
.status.success {
  background-color: #3C6;
  color: #FFF;
}
.status.info {
  background-color: #666;
  color: #FFF;
}
.status.success, #status.info, #status.error, #status.warn {
  transition: none;
}
.status {
  background-color: #666;
  color: #999;
  transition: 0.5s;
}

#renderContainer {
  width: 256px;
  height: 256px;
  border: none;
}

input[type=range] {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.5), 0px 2px 1px rgba(255,255,255,0.2);
  margin: 8px 0;
  border-radius: 6px;
  height: 20px;
  opacity: 0.9;
}
input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0px 2px 6px #FFF;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.48, #DDD), color-stop(0.5, #AAA), color-stop(0.52, #DDD));
  border: 1px solid #AAA;
  border-radius: 3px;
  width: 40px;
  height: 26px;
}

input[type="range"]:hover::-webkit-slider-thumb {
}

#properties {
  padding: 5px 0;
}
#properties input {
  width: 100%;
}
#properties p {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
#properties p > label {
  line-height: 30px;
  position: absolute;
  right: 260px;
  font-size: 0.8em;
}
#properties input {
  border: none;
  padding: 0px 5px;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

.inputs {
  box-sizing: border-box;
  padding: 0 5px;
}
.inputs label {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
}
.inputs label:hover > span {
  display: block;
}
.inputs label > span {
  display: none;
  position: absolute;
  color: #aaa;
  bottom: -10px;
  left: 10px;
  font-size: 0.5em;
}
.inputs.inputs-1 {
  padding: 0 10px;
}
.inputs-2 label {
  width: 50%;
}
.inputs-3 label {
  width: 33.333333%;
}
.inputs-4 label {
  width: 25%;
}
