<div class="no-uniforms">
  <p>
    No uniform parameters are currently used by this transition.
  </p>
  <p>
    You could define a few custom uniforms for allowing
    a better Transition customization?
  </p>
</div>
