
<div id="view">
  <div id="leftPanel">
    <a class="comments {{#unless transition.comments}}no-comments{{/unless}}" target="_blank" href="https://gist.github.com/{{ transition.owner }}/{{ transition.id }}">
      <i class="fa fa-comments"></i>
      {{transition.comments}}
    </a>
  </div>
  <div class="vignette" id="renderContainer">
    <canvas id="render" width=512 height=512></canvas>
    <div class="overlay" id="renderOverlay">
      <span class="cursor"></span>
      <!--
      <a class="edit" href="#">
        <i class="fa fa-wrench"></i>
      </a>
      <a class="expand" href="#">
        <i class="fa fa-expand"></i>
      </a>
      -->
    </div>
  </div>
  <div id="properties">
    </div>
    <div class="buttons">
      <!--
      <button>Save as Defaults</button>
      -->
    </div>
    <div id="infos"></div>
  </div>
  <div id="editorContainer">
    <div id="editor"></div>
    <div id="status" class="status"></div>
  </div>
</div>
