.screen-blog {
  background: #eee;
  color: #222;
  padding: 10px 0;

  .articles {
    article {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }

  article {
    header {
      h1 {
        padding-bottom: 0.2em;
        margin-bottom: 0.2em;
        font-size: 2.4em;
        padding-bottom: 0em;
        margin-bottom: 0.2em;
        font-weight: 300;
      }
      time {
        color: #999;
        font-weight: 300;
        display: block;
      }
    }
    width: 853px;
    margin: 0px auto;
    .hljs {
      background: #fff;
    }
    pre {
      overflow: scroll;
    }
    h2 {
      margin-left: -20px;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #ccc;
    }
    blockquote {
      color: #999;
      border-left: 3px solid #CCC;
      margin-left: 0;
      padding-left: 10px;
    }
    a {
      color: #28E;
      &:hover {
        color: #39F;
        text-decoration: underline;
      }
    }
  }
}
