.gallery-screen {
  nav {
    display: inline-block;
    margin-left: 50px;
    font-weight: 300;
    a {
      display: inline-block;
      padding: 0 5px;
      &.selected {
        color: #fff;
      }
    }
  }
}
