@import GalleryScreen
@import TransitionPreview
@import TransitionsBrowser
@import TransitionsBrowserPager

#toolbar .new-transition {
  float: right;
  color: #ccc;
  &:hover {
    color: #fff;
  }
}

