.glsl-contextual-help {
  .glsl-documentation {
    p {
      margin: 2px 0;
    }
    .glsl-token-name {
      font-family: monospace;
    }
    .glsl-token-type {
      font-weight: bold;
    }
    .glsl-token-usage {
      width: 100%;
      box-sizing: border-box;
    }
    .glsl-token-description {
      font-weight: 300;
      font-style: italic;
      padding: 0.4em;
    }
  }
}
