.glsl-contextual-help {
  .glsl-token-value {

  }
  .glsl-documentation {
    dt {

    }
    dd {

    }
    .glsl-token-type {
      font-weight: bold;
    }
    .glsl-token-name {
      font-weight: bold;
    }
    .glsl-token-usage {
      font-family: monospace;
    }
    .glsl-token-description {
      font-style: italic;
    }
  }
}
