body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  overflow: hidden;
}
* {
  user-select: none;
}
a, a:hover {
  color: #fff;
  text-decoration: none;
}

