
.transitions-browser-pager {
  font-size: 1.2em;
  padding: 0.5em 0;
  display: block;
  text-align: center;
  span {
    color: #aaa;
  }
  a {
    cursor: pointer;
  }
  a.prev {
    float: left;
  }
  a.next {
    float: right;
  }
}
