.app-header {
  background: #000;
  color: #fff;
  min-height: 40px;
  line-height: 40px;
  padding: 0 10px;
  .notsupported {
    display: block;
    background: #aaa;
    margin: 0 -10px;
    text-align: center;
    color: #a00;
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .loader {
    float: left;
    width: 20px;
    display: inline-block;
    opacity: 0;
    transition: none;
    &.loading {
      transition: 200ms 200ms;
      opacity: 1;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
  }
  .github {
    display: inline-block;
    float: right;
    color: #888;
  }
  nav {
    display: inline-block;
    a {
      padding: 0 10px;
      display: inline-block;
      &.current {
        color: #fff;
        background: #444;
        &.about {
          color: #000;
          background: #eee;
        }
      }
    }
  }
}
