body.current-home {
  background: #eee;
  color: #222;
}
.home {
  article {
    width: 853px;
    margin: 10px auto;
    h2 {
      margin-left: -20px;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #ccc;
    }
    blockquote {
      color: #999;
      border-left: 3px solid #CCC;
      margin-left: 0;
      padding-left: 10px;
    }
    a {
      color: #28E;
      &:hover {
        color: #39F;
        text-decoration: underline;
      }
    }
  }
}
