body.current-home {
  background: #eee;
  color: #222;
}
.home {
  article {
    width: 800px;
    margin: 10px auto;
    a {
      color: #666;
      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
